In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3


# Create sample data for employees
employees_data = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "department_id": [1, 2, 1, 3, 2],
    "hire_date": ["2020-01-15", "2019-07-22", "2021-03-30", "2018-06-12", "2022-11-03"],
}

# Create sample data for departments
departments_data = {
    "department_id": [1, 2, 3],
    "name": ["HR", "Engineering", "Sales"],
}

# Create DataFrames
employees_df = pd.DataFrame(employees_data)
departments_df = pd.DataFrame(departments_data)

# Create SQLite database and tables
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Create tables employees_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department_id INTEGER NOT NULL,
    hire_date TEXT NOT NULL
);
""")

# Create tables departments_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS departments (
    department_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
);
""")

# Insert data into tables
employees_df.to_sql("employees", conn, if_exists="replace", index=False)
departments_df.to_sql("departments", conn, if_exists="replace", index=False)

# Verify data was inserted
print("Employees Table:\n")
print(pd.read_sql_query("SELECT * FROM employees", conn))

print("\nDepartments Table:\n")
print(pd.read_sql_query("SELECT * FROM departments", conn))

Employees Table:

   id     name  department_id   hire_date
0   1    Alice              1  2020-01-15
1   2      Bob              2  2019-07-22
2   3  Charlie              1  2021-03-30
3   4    David              3  2018-06-12
4   5      Eve              2  2022-11-03

Departments Table:

   department_id         name
0              1           HR
1              2  Engineering
2              3        Sales